<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Löschen bestätigen</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div th:fragment="confirmDeleteModal" id="confirmDeleteModal" class="modal">
  <div class="modal-content">
    <h5>Löschen bestätigen</h5>
    <p>Soll dieser Artikel wirklich gelöscht werden?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="modal-close btn waves-effect waves-light">Abbrechen</button>
    <a href="#" id="confirmDeleteButton" class="modal-close btn waves-effect waves-light red">Löschen</a>
  </div>
</div>
</body>
</html>
