<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <title th:text="${item.name}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="container">
    <h4 th:text="${item.name}"></h4>
    <div class="input-field">
        <input type="text" id="name" th:value="${item.name}" readonly>
        <label for="name">Name</label>
    </div>
    <div class="input-field">
        <input type="text" id="customer" th:value="${item.customer}" readonly>
        <label for="customer">Kunde</label>
    </div>
    <div class="input-field">
        <input type="text" id="condition" th:value="${item.condition}" readonly>
        <label for="condition">Zustand</label>
    </div>
    <div class="input-field">
        <input type="text" id="location" th:value="${item.location}" readonly>
        <label for="location">Ort</label>
    </div>
    <div class="input-field">
        <input type="number" id="priceIn" th:value="${item.price_in}" readonly>
        <label for="priceIn">Einkaufspreis (EK)</label>
    </div>
    <div class="input-field">
        <input type="number" id="priceOut" th:value="${item.price_out}" readonly>
        <label for="priceOut">Verkaufspreis (VK)</label>
    </div>
    <a th:href="@{/items}" class="btn">Zurück</a>
    <a th:href="@{/items/{id}/edit(id=${item.id})}" class="btn">Bearbeiten</a>
    <a href="#" class="btn red modal-trigger" data-target="confirmDeleteModal" th:data-itemid="${item.id}">Löschen</a>
</div>

<div th:replace="~{fragments/confirm-delete-modal :: confirmDeleteModal}"></div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const deleteButtons = document.querySelectorAll('[data-target="confirmDeleteModal"]');
        const confirmDeleteButton = document.getElementById('confirmDeleteButton');

        const options = {
            dismissible: false // Prevent closing the modal by clicking outside of it
        };

        M.Modal.init(document.querySelector('#confirmDeleteModal'), options);

        deleteButtons.forEach((button) => {
            button.addEventListener('click', function () {
                const itemId = button.getAttribute('data-itemid');
                confirmDeleteButton.setAttribute('href', '/items/' + itemId + '/delete');
            });
        });
    });
</script>
</body>
</html>
