<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
    <meta charset="UTF-8">
    <title th:text="${item.id} ? 'Artikel bearbeiten' : 'Artikel anlegen'"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/compressorjs@1.1.0/dist/compressor.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .button-container {
            margin-top: 3rem;
            display: flex;
        }

        .image-input {
            margin-top: 3rem;
        }
    </style>
</head>

<body>
<div class="container">
    <h3 th:text="${item.id} ? 'Artikel bearbeiten' : 'Artikel anlegen'"></h3>
    <form th:action="${item.id} ? @{${'/items/' + item.id + '/edit'}} : @{/items}" th:object="${item}" method="post"
          enctype="multipart/form-data">
        <div class="input-field">
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}" required>
        </div>

        <div class="input-field">
            <label for="serialNumber">Seriennummer</label>
            <input type="text" id="serialNumber" th:field="*{serialNumber}">
        </div>

        <div class="input-field">
            <label for="customer">Kunde</label>
            <input type="text" id="customer" th:field="*{customer}">
        </div>

        <div class="input-field">
            <label for="condition">Zustand</label>
            <input type="text" id="condition" th:field="*{condition}">
        </div>

        <div class="input-field">
            <label for="location">Ort</label>
            <input type="text" id="location" th:field="*{location}">
        </div>

        <div class="input-field">
            <label for="priceIn">Einkaufspreis (EK)</label>
            <input type="number" id="priceIn" th:field="*{priceIn}">
        </div>

        <div class="input-field">
            <label for="priceOut">Verkaufspreis (VK)</label>
            <input type="number" id="priceOut" th:field="*{priceOut}">
        </div>

        <div th:if="${item.id} == null" class="input-field">
            <label for="images">Bilder hochladen</label>
            <input class="image-input" type="file" id="images" name="images" accept="image/*" multiple>
        </div>

        <div class="button-container">
            <div class="col s12">
                <div class="row">
                    <div class="col s6">
                        <a href="/items" class="btn btn-small waves-effect waves-light grey">Zurück</a>
                    </div>
                    <div class="col s6">
                        <button type="submit" class="btn">Speichern</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>


